@import './wallust/colors-waybar.css';
* {
  background-color: @background;
  /*color: @color3;*/

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 15px;
  font-weight: bold;
}

.modules-left {
  margin-left: 8px;
}

.modules-center {
  color: @color3;
}

.modules-right {
  color: @color3;
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  color: @color3;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  color: @color4;
  opacity: 0.6;
}

#workspaces button.active {
  color: @color5;
}

#workspaces button.occupied {
  color: @color5;
}

#workspaces button.hover {
  background-color: transparent;
  color: @color2;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 2px;
}

#custom-cava_mviz {
  color: @color6;
  margin-right: 140px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}
